
<div class="resume-section-content">
    <form method="POST">
        <h2 class="mb-5">Contact</h2>
        <label>Name Surname</label>
        <input type="text" class="form-control" name="NameSurname" />
        <label>Mail</label>
        <input type="text" class="form-control" name="Mail"  />
        <label>Title</label>
        <input type="text" class="form-control" name="Title" />
        <label>Message</label>
        <input type="text" class="form-control" name="Message" />
        <br />
        <button class="btn btn-info">SEND</button>
    </form>
</div>

