
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Page Of New Add Experience</h4>
<br />

<form class="form-group" method="post">
    <br />

    <input type="text" name="Header" class="form-control" placeholder="Add Header" />
    <br />

    <input type="text" name="SubTitle" class="form-control" placeholder="Add Subtitle" />
    <br />

    <input type="text" name="Date" class="form-control" placeholder="Add Date" />
    <br />

    <textarea name="Description" class="form-control" placeholder="Add Description" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Confirm</button>
</form>

