
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Page Of New Add Admin</h4>
<br />

<form class="form-group" method="post">
    <br />

    <input type="text" name="Nickname" class="form-control" placeholder="Add Nickname" />
    <br />

    <input type="text" name="Password" class="form-control" placeholder="Add Password" />
   
    <br />
    <button class="btn btn-info">Confirm</button>
</form>

